/*Gerais*/

body {
	font-family: 'Open Sans', Helvetica, sans-serif;
	/* background-color: #edf2f7; */
	 background-color: #edf2f7;
} 

p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 14px;
	line-height: 20px;
}

header{
    background-color: #3498db;
    position: fixed;
	top: 0;
	width: 100%;
	padding: 15px 0;
	z-index: 10;
}

.logo{
    margin-top: 5px;
}
.header_menu{
    text-align: right;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 25px;
	margin-top: 7px;
}

.header_menu ul li a {
    color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 5px 0;
	transition: all .5s ease;
}

.header_menu ul li a:hover{
    border-bottom: 3px solid #fff;
    transition: all .2s ease;
}

/*Slide e imagem*/

.slideTitulo{
	width: 100%;
	height: 380px;
	background: url("../img/bg_slide1.jpg") no-repeat center;
	background-size: cover;
	margin-top: 72px;
	text-align: center;
	padding-top: 80px; 
}

.tituloH1{
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	font-size: 48px;
	margin-bottom: 5px;
}

.slideTitulo p{
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .1em;
}

/*Serviços*/

.servicos h2{
	text-align: center;
	margin-top: 80px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: #3498db;
	padding-right: 58px;
}

.imgservico{
	float: left;
}
.imgservico img{
	padding-right: 0px;
	width: 280px;
	border-radius: 10px;
}
.lista_servicos{
	margin-top: 40px;
}

.faixa{
	clear: both;
	background-color: #3498db;
	position: absolute;
	top: 67%;
	width: 280px;
	height: 50px;
	text-align: center;
	padding-top: 12px;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
}

.imgservico .texto{
	color: #3498db;
	text-align: center;
	width: 100%;
	height: 110px;
	margin-top: 10px; 
	padding: 5px;
}

/* Chamada */
.chamada{
	margin-top: 40px;
}

.areaBotao{
	padding-top: 20px;
	padding-right: 50px;
	text-align: center;
	padding-bottom: 30px;
	clear: both;

}
.btn{
	background-color: #3498db;
	width: 200px;
	height: 20px;
	padding: 15px 30px 15px 30px;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1em;
	border-radius: 10px;
}

/*Frase*/

.frase{
	margin-top: 30px;
}

.quote-externo {
	max-width: 280px;
	margin: 0 auto;
	margin-bottom: 40px;
	color: #3498db;
	padding-right: 30px;
}

.quote-externo p {
	font-style: italic;
	font-size: 14px;
	text-align: justify;
}

.quote-externo p:before, .quote-externo p:after {
	content: "";
	display: block;
	width: 50px;
	height: 3px;
	background: #3498db;
	color:#3498db;
	margin: 14px auto 10px auto;
	padding-right: 60px;
}

.quote-externo cite {
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: .1em;
	margin-left: 79px;

}

/*Rodapé*/


.formasPg{
	clear: both;
	margin-top: 40px;
	background-color: #3498db;
	height: 60px;
	padding-top: 10px;
}

.formasPg div{
	padding-top: 8px;
}

.formasPg ul{
	margin-left: 7%;
}
.formasPg ul li{
	display: inline-block;
	margin-left: 40px;
}

.formasPg ul li:nth-last-child(5)
{
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}

footer{
	background-color: #3498db;
	width: 100%;
	height: 50px;
	padding-top: 10px;
	text-align: center;
	color: #fff;
}

span img{
	position: fixed;
	top: 87%;
	left: 92%;
}

footer div{
	margin-top: 13px;
	font-size: 12px;
	text-transform: uppercase;
}

/*Página contato*/
.bgContato{
	background: url("../img/bg_contato.jpg") no-repeat center;
	margin-top: 72px;
	background-size: cover;
	width: 100%;
	height: 240px;
}
.bgContato h1{
	text-align: left;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	font-size: 48px;
	margin-bottom: 5px;
}


.contato {
	padding: 40px 0;
}

.contato_form {
	padding-right: 60px;
}

.contato_form label{
	display: block;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 4px;
	color: #3498db;
}

.contato_form input {
	display: block;
	width: 100%;
	border: 3px solid #3498db;
	background: none;
	padding: 7px 10px;
	margin-bottom: 10px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
	border-radius: 10px;
}

.contato_form textarea {
	display: block;
	width: 100%;
	height: 120px;
	border: 4px solid #3498db;
	background: none;
	padding: 7px 10px;
	margin-bottom: 20px;
	outline: none;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
	border-radius: 10px;
}

.contato_form button {
	padding: 7px 40px;
	background: none;
}

.orcamento_dados {
	color: #fff;
}

.contato_dados h3{
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #3498db;
	font-weight: bold;
}

.contato_dados span {
	display: block;
	font-size: 18px;
	line-height: 30px;
	font-family: Georgia, "Times New Roman", serif;
	color: #3498db;
}

.contato_dados span:nth-of-type(1){
	margin-bottom: 30px;
}

.contato_dados ul{
    margin-top: 10px;
}

.contato_dados ul li{
    display: inline-block;
    margin-right: 10px;
}

.contato_dados ul li a{
    border: 3px solid #3498db;
    display: block;
	padding: 10px;
	border-radius: 10px;
}

.contato_dados ul li a:hover{
    border-color: #17425f;
}

.contato button{
	background-color: #3498db;
	border-radius: 10px;
	color: #fff; 
}
